.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
}

.shuffle-char {
  display: inline-block;
  text-align: center;
}

.shuffle-word {
  display: inline-block;
  white-space: nowrap;
}
